<div class="container-fluid bg-1 text-center">
  <h3>About Me</h3>
  <img src="C:\Users\conte\Desktop\Bubah.jpg" class="img-circle home-img" alt="Bubah">
  <h3>I grew up in in NYC in the one an only Bronx. My parents are immigrants who migrated to the bronx in 1988 to search for better opportunities for themselfs and their children. Growing up in the bronx has made me the person I am today. Although i was exposed to alot of negatvity i was able to avoid them as a youn adolescent and the enviroment has helped me grow thick skin and become mentaly though youngman. I have no one to thank other than God and my parents. What my mom had to go through every morning to keep in school was nothing short of amazing. Every moring she would wake us up one by one and make sure we took showers and, dress us up and school and the ones who did not reach the age of school to daycare is nothing short of remarkable.</h3>
</div>