 <div class="bubah-jumbo text-center">
    <div class="container">
      <h1>Welcome To My Website</h1>
      <p>Your imagination will never Lead you to the impossible. Only your doubt will!</p>
      <a href="#" class="btn btn-primary">Read More</a>
    </div>
 </div>

 <div class="container-fluid bg-1 text-center">
  <h3>Who Am I?</h3>
  <img src="C:\Users\conte\Desktop\Bubah.jpg" class="img-circle home-img" alt="Bubah">
  <h3>My name is Bubah Conteh. I am a Reader, a thinker a creator!</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>My life Goal?</h3>
  <p>To constantly improve the quality of life for the people closes to me and in my community by utilizing skills and blessing that where granted to me. I am always searcing for problems in my commmunity and working towars creating a solution to remove that problem.</p>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Where To Find Me?</h3>
	<div class="row">
	<div class="col-sm-4"> 
      <p>Parents Birth place The Gambia.</p>
      <img src="C:\Users\conte\Desktop\gambia.jpg" class="home-img2" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>HomeTown New York City.</p>
      <img src="C:\Users\conte\Desktop\NYC.jpg" class="home-img2" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Currently Living in Hartford.</p>
      <img src="C:\Users\conte\Desktop\CT.jpg" class="home-img2" alt="Image">
    </div>
    
  </div>
</div>

